# Environment Variables & Keys
.env
*.local

# Node Dependencies
node_modules/
package-lock.json

# Android Build & Gradle
android/.gradle/
android/build/
android/app/build/
*.apk
*.aab
output_apks/

# Logs
*.log
npm-debug.log*

# System & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
.gradle/
